// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.bg-indigo{
    background-color: $indigo;
}
.leaflet-default-icon-path {
    background-image: url('~leaflet/dist/images/marker-icon.png');
}

.leaflet-shadow-pane {
    z-index: 500;
    display: none;
}
